{extend name='layout/index'}
{block name='title'}个人中心{/block}

{block name='body'}
<style>

    .card-title-border{
        border-bottom: 1px solid red;
        margin-bottom: 10px;
        padding-bottom: 15px;
        background: #fff;
        border-bottom: 1px solid #f5f5f5;
        font-size: 16px;
    }
    .article-detail{
        background-color: #FFFFFF;
        padding:20px;
        border-radius: 6px;
    }
    .article-detail h1{
        font-size: 1.65em;
        line-height: 1.45;
        margin-bottom: 5px;
        color: #444;
    }
    .article-detail .article-content{
        margin-top: 20px;
        min-height: 300px;
    }
    .text-gray{
        color:#999;
    }
</style>

<div class="container" style="padding-top:30px;">

    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="article-detail">
                <h1>一张图解析QuickAdmin表单生成器</h1>
                <div class="text-gray">
                    发布于 2021年12月01日 14:18 ·  阅读 1774
                </div>
                <div class="article-content">
                    dfdfdfdfdfd
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card border-light">
                <!--                    <div class="card-header">Header</div>-->
                <div class="card-body">
                    <div class="card-title-border">热门文章</div>
                    <div class="dir-left-nowrap mt-2">
                        <div class="box-grow-0 pe-3">
                            <span class="num">1</span>
                        </div>
                        <div class="box-grow-1">
                            <a class="" href="/index/demo/detail" title="一张图解析FastAdmin中的表格列表的功能">一张图解析FastAdmin中的表格列表的功能</a>
                        </div>
                    </div>
                    <div class="dir-left-nowrap mt-2">
                        <div class="box-grow-0 pe-3">
                            <span class="num">1</span>
                        </div>
                        <div class="box-grow-1">
                            <a class="" href="/index/demo/detail" title="一张图解析FastAdmin中的表格列表的功能">一张图解析FastAdmin中的表格列表的功能</a>
                        </div>
                    </div>
                    <div class="dir-left-nowrap mt-2">
                        <div class="box-grow-0 pe-3">
                            <span class="num">1</span>
                        </div>
                        <div class="box-grow-1">
                            <a class="" href="/index/demo/detail" title="一张图解析FastAdmin中的表格列表的功能">一张图解析FastAdmin中的表格列表的功能</a>
                        </div>
                    </div>
                    <div class="dir-left-nowrap mt-2">
                        <div class="box-grow-0 pe-3">
                            <span class="num">1</span>
                        </div>
                        <div class="box-grow-1">
                            <a class="" href="/index/demo/detail" title="一张图解析FastAdmin中的表格列表的功能">一张图解析FastAdmin中的表格列表的功能</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{/block}